@page
@model Group3_SE1902_PRN222_LibraryManagement.Pages.Admin.IndexModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container-fluid">
    <h2 class="mb-4">Dashboard Thống Kê</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Tổng số Sách</h5>
                    <p class="card-text fs-2">--</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Người dùng mới</h5>
                    <p class="card-text fs-2">--</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Yêu cầu mượn sách</h5>
                    <p class="card-text fs-2">--</p>
                </div>
            </div>
        </div>
    </div>
</div>
